* {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  width: 100%;
  min-height: 100%;
}

body {
  font-family: 'Ubuntu', sans-serif;
  color: #ffffff;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.grid {
  display: flex;
  flex-direction: column;
}

.photo-container {
  display: none;
  background: grey url(photos/IMG_0211.jpg) no-repeat;
  background-size: cover;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
}

.icon-boxes {
  width: 60px;
}

header {
  padding: 20px;
}

h1 {
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 1px;
}

p {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 35px;
}

button {
  border: 2px solid #fff;
  padding: 10px;
  font-family: inherit;
  text-transform: uppercase;
  color: #fff;
  background-color: transparent;
}

.resume-btn {
  background: url(photos/resume-document.svg) no-repeat;
  background-size: 20px;
  background-position: 10px 50%;
}

.btn-text {
  font-size: 20px;
}

.btn-icon {
  width: 25px;
  vertical-align: middle;
}

#profile-btn {
  display: none;
}

a {
  color: #fff;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

header,
#blog {
  background-color: #5FD4AF;
}

#education,
#social,
#portfolio {
  background-color: #FF9554;
}

#profile,
#experience,
#contact {
  background-color: #59616A;
}


.me {
  width: 100%;
}

@media(min-width: 540px) {
  .grid {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .box {
    flex: 1 1 50%;
  }
}

@media(min-width: 870px) {
  .photo-container {
    display: block;
    flex-direction: row;
  }

  .wrapper {
    flex-direction: row;
  }

  .grid,
  .photo-container {
    width: 50%;
  }
}
