* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  color: #ffffff;
}

.container {
  width: 100%;
  height: 100vh;
}

.box-container {
  display: flex;
  flex-wrap: wrap;
  float: left;
  width: 60%;
  height: 100vh;
}

.photo-container {
  float: right;
  width: 40%;
  height: 100vh;
  background-color: grey;
}

.box {
  display: flex;
  width: 33.33333%;
  height: 33.33333vh;
  justify-content: center;
  align-items: center;
}

header {
  width: 66.66666%;
  height: 33.33333vh;
}

h1 {
  padding: 15px 25px;
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 1px;
}

p {
  padding: 5px 25px;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 35px;
}

button {
  display: inline-flex;
  width: 30%;
  margin: 10px 25px 25px 25px;
  border: 2px solid #fff;
  padding: 10px;
  font-family: inherit;
  justify-content: center;
  align-content: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #5FD4AF;
}

.btn-text {
  font-size: 20px;
}

.btn-icon {
  width: 25px;
  vertical-align: middle;
}

.photo-box {
  display: none;
}

#profile-btn {
  display: none;
}

a {
  color: #fff;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

header,
#blog {
  background-color: #5FD4AF;
}

#education,
#social,
#portfolio {
  background-color: #FF9554;
}

#profile,
#experience,
#contact {
  background-color: #59616A;
}

.icon-boxes {
  display: block;
  padding-bottom: 15px;
  width: 100px;
  margin: auto;
}

.me {
  width: 100%;
  height: 100vh;
}


/*Media queries*/

@media screen and (max-width: 1180px) {

  .btn-text {
    font-size: 16px;
  }
}

@media screen and (max-width: 1024px) {

  header {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  header div {
    display: inline-block;
  }

  button {
    width: 20%;
  }

  .btn-text {
    font-size: 16px;
  }

  .btn-icon {
    width: 20px;
  }

  #profile-btn {
    display: inline-flex;
  }

  p {
    padding: 25px;
  }

  .icon-boxes {
    width: 100px;
  }

  #profile {
    background-image: url("/Users/christielynam/turing/mod1/static-comp-1/photos/IMG_0211 (1).jpg");
    background-size: cover;
}

  #profile-links {
    display: none;
  }

  .photo-container {
    display: none;
  }

  .box-container {
    width: 100%;
  }
}

@media screen and (max-width: 890px) {

  button {
    width: 25%;
    margin: 20px;
  }
}

@media screen and (max-width: 765px) {

  header {
    width: 100%;
    height: 40vh;
  }

  #profile {
    display: none;;
  }

  #experience,
  #education,
  #blog,
  #social,
  #contact,
  #portfolio {
    height: 20vh;
  }

  #blog {
    background-color: #FF9554;
  }

  #social {
    background-color: #5FD4AF;
  }

  .box {
    width: 50%;
    min-height: 20%;
  }
}

@media screen and (max-width: 510px) {

  p {
    padding: 10px 25px;
    line-height: 25px;
  }

  .icon-boxes {
    width: 75px;
  }

  header div {
    display: flex;
    justify-content: flex-start;
    padding-left: 15px;
  }

  button {
    margin: 10px;
  }
}

@media screen and (max-width: 380px) {

  h1 {
    font-size: 40px;
  }
}


@media screen and (max-width: 325px) {

  h1 {
    font-size: 35px;
  }

  p {
    font-size: 16px;
    line-height: 20px;
  }

  .btn-text {
    font-size: 14px;
  }

  .btn-icon {
    display: none;
  }

  .box {
    width: 100%;
  }

  .icon-boxes {
    width: 50px;
    padding-bottom: 10px;
  }

  a {
    font-size: 16px;
  }

  #education {
    background-color: #59616A;
  }

  #experience {
    background-color: #FF9554;
  }

  #contact {
    background-color: #FF9554;
  }

  #portfolio {
    background-color: #59616A;
  }
}
